{
    "extends": ["standard"],
    "globals": {
        "describe": true,
        "it": true,
        "before": true,
        "after": true
    },
    "rules": {
        "no-console": 0,
        "no-undef": 1,
        "no-unused-vars": 1,
        "no-return-await": 0,
        "semi": ["error", "never"],
        "object-curly-spacing": ["error", "always"],
        "allowMultiplePropertiesPerLine": 0,
        "no-mixed-spaces-and-tabs": 2
    }
}